@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'mandali',sans-serif !important;
}

.w-slider {
  width: 100% !important;
  height: 600px !important;
}

.fon-20 {
  font-size: 23px !important;
}
.mt-style {
  margin-top: 95px;
}

.garis {
  width: 200px;
  margin-top: 10px;
  border: 2px solid rgba(15, 15, 191, 0.677);
}

.navbar {
  height: 96px; /* Tinggi navbar normal */
  transition: height 0.3s ease; 
  background-color: #2B1851;
}

.navbar.scrolled {
  height: 64px; /* Tinggi navbar saat digulir */
  margin-bottom: 0px !important;
}


nav .mx-auto .relative {
  display: flex !important;
  align-items: center !important;
}

nav .space-y-1 .text-gray-300 {
  color: black !important;
}

nav .space-y-1 .bg-gray-900 {
  background-color: #1976D2;
}

nav .space-y-1 {
  background-color: white !important;
  color: black !important;
}

.bg-footer {
  background-color: #2B1851;
  color: white;
}

.grid_footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
}


.font-style {
  font-size: 40px;
}

.grid-sistem-navbar {
  display: grid !important;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}

.fon-sm {
  font-size: 20px;
}

.style-elip {
  position: absolute;
  left: 200px;
  top: -20px;
}

.imgt {
  display: flex;
  align-items: center !important;
}


.style-color {
  color: #F76680;
}

.content_img {
  width: 230px;
  height: 280px;
}

.respons {
  margin-left: 50px;
  margin-right: 50px;
}

.grid_about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

@media screen and (max-width:600px) {
  .respons {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .relative .gap-2 span {
  display: none !important;
} */

@media screen and (max-width:1000px) {
  .grid_footer {
    grid-template-columns: repeat(2,1fr);
  }
}


@media screen and (max-width:700px) {
  .grid_footer {
    grid-template-columns: repeat(1,1fr);
  }

  .grid_about {
    grid-template-columns: repeat(1,1fr);
  }
}



@media screen and (max-width:700px) {
  .grid-sistem-navbar {
    grid-template-columns: repeat(2,1fr) !important;
  }

  .imgt {
    display: none !important;
  }

  /* .relative {
    display: none !important;
  } */
}

@media screen and (max-width:540px) {
  .md-respon {
    justify-content: left !important;
    display: block;
    align-items: center;
  }

  .grid-sistem-navbar {
    grid-template-columns: repeat(1,1fr) !important;
  }
}